body {
  font-family: Arial, Helvetica, sans-serifS;
}
body p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.sidebar a, .sidebar div a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}
.sidebar a.active {
  background-color: gray;
  border-radius: 4px;
  color: white;
}
.sidebar .sect-header {
  padding-top: 60px;
  margin: 0px;
}
.sidebar #contact-div {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-bottom: 10px;
}
.sidebar h3 {
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
  margin-bottom: 0px;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  border-radius: 4px;
  color: white;
  font-weight: bold;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media all and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  .sidebar .sect-header {
    display: none;
  }
  .sidebar .contact {
    display: none;
  }
}
/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media all and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  .sidebar .secth {
    display: none;
  }
  .sidebar .contact {
    display: none;
  }
}
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  margin-left: 200px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.img-container a {
  text-decoration: none;
}
.img-container .img-div {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 2%;
  padding: 20px;
}
.img-container .img-div h2 {
  color: black;
}
.img-container .img-div img {
  border: 2px solid black;
  max-width: 400px;
  min-width: 320px;
}

/* format text */
#intro-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  padding-top: 10%;
  padding-bottom: 5%;
  margin-left: 200px;
}
#intro-container #name-container {
  text-align: left;
}
#intro-container #name-container h1 {
  font-size: 64px;
  font-weight: bolder;
  padding: 0px;
  margin: 0px;
}
#intro-container .about-text-container {
  max-width: 300px;
  align-items: center;
}
#intro-container .about-text-container .about-text {
  font-size: 24px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  text-align: left;
}

.header-container {
  display: flex;
  justify-content: center;
  margin-left: 200px;
  padding-top: 80px;
}
.header-container h1 {
  border-bottom: 2px solid black;
}

/* formatting for projects */
.title-container {
  margin-left: 200px;
  text-align: center;
  padding-top: 100px;
}

.subtitle-container {
  display: flex;
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 0px;
  color: rgb(94, 94, 94);
  margin-left: 200px;
}
.subtitle-container .subtitle-div {
  flex: 0.8;
  border-bottom: 1px solid darkgray;
}
.subtitle-container .subtitle-div h2 {
  text-align: center;
  padding: 0 20px;
  font-weight: normal;
}

.stack-container {
  display: flex;
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 0px;
  color: rgb(94, 94, 94);
  margin-left: 200px;
}
.stack-container .stack-div {
  flex: 0.8;
  border-bottom: 1px solid darkgray;
}
.stack-container .stack-div h3 {
  text-align: right;
  padding: 0px;
  font-weight: normal;
}

.text-heading-container {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 0px;
  color: rgb(94, 94, 94);
  margin-left: 200px;
}
.text-heading-container .text-heading-div {
  flex: 0.8;
  border-bottom: 1px solid darkgray;
  max-width: 1000px;
}
.text-heading-container .text-heading-div h2 {
  text-align: left;
  padding: 0 20px;
  font-weight: normal;
}

.text-img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 0px;
  margin-left: 200px;
}
.text-img-container .text-img-div {
  flex: 0.8;
  text-align: center;
  max-width: 1000px;
}
.text-img-container .text-img-div img {
  width: 100%;
  max-width: 960px;
  min-width: 320px;
  object-fit: contain;
}
.text-img-container .text-img-div .note {
  font-style: italic;
  font-size: 12;
  text-align: left;
  padding-left: 40px;
}
.text-img-container .text-img-div .matrix-note {
  font-style: italic;
  font-size: 12;
  text-align: center;
  margin-top: 0px;
}
.text-img-container #season-xt {
  max-width: 800px;
}
.text-img-container #web {
  max-width: 400px;
}
.text-img-container #teams-xt {
  max-width: 700px;
}
.text-img-container #teams-xt .note {
  padding: 0;
}
.text-img-container #pass-ec, .text-img-container #xt-ec {
  max-width: 500px;
}
.text-img-container #mid-in-ec, .text-img-container #mid-out-ec {
  max-width: 700px;
}
.text-img-container #liv-matrix {
  max-width: 600px;
}
.text-img-container #guardiola-network {
  max-width: 500px;
}
.text-img-container #xg, .text-img-container #momentum {
  max-width: 700px;
}
.text-img-container #nigeria-network, .text-img-container #ivc-network, .text-img-container #nigeria-shot, .text-img-container #ivc-shot, .text-img-container #nigeria-passes, .text-img-container #ivc-passes {
  max-width: 600px;
  min-width: 360px;
}

.text-container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 0px;
  color: black;
  margin-left: 200px;
}
.text-container .text-div {
  flex: 0.9;
  max-width: 1000px;
  text-justify: auto;
}
.text-container .text-div p {
  padding: 0 20px;
  font-weight: normal;
  font-display: block;
}
.text-container .text-div .note {
  font-style: italic;
  font-size: 12;
  text-align: left;
}
.text-container .text-div ul {
  text-align: left;
}

.table-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 0px;
  color: black;
  margin-left: 200px;
  gap: 40px;
}
.table-container .table-div table {
  font-size: 16px;
  border: 1px solid gray;
  border-collapse: collapse;
  border-radius: 2%;
}
.table-container .table-div table tr th, .table-container .table-div table tr td {
  padding: 4px;
  border: 1px solid gray;
}
.table-container .table-div table tr td {
  padding-right: 10px;
  text-align: right;
}

.viz-container {
  display: flex;
  justify-content: center;
  margin-left: 200px;
  padding-top: 20px;
  /* styles for viz */
}
.viz-container .vega-embed {
  object-fit: fill;
}
.viz-container .vega-embed details,
.viz-container .vega-embed details summary {
  display: none;
}

@media all and (max-width: 1600px) {
  .viz-container {
    display: none;
  }
}
.equation-container {
  display: flex;
  justify-content: center;
  margin-left: 200px;
}
.equation-container .equation {
  text-align: center;
  font-size: 20px;
}
.equation-container .explanation {
  text-align: left;
  margin-bottom: 0px;
  font-size: 16px;
}
.equation-container ul {
  margin-top: 0px;
}

.exp-text {
  font-size: 16px;
}

@media all and (max-width: 700px) {
  .header-container, #intro-container, .text-container, .img-container, .title-container, .subtitle-container, .stack-container,
  .text-heading-container, .equation-container, .text-img-container, .table-container, .viz-container {
    margin-left: 2%;
    margin-right: 2%;
  }
}

/*# sourceMappingURL=styles.css.map */
