<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>About</title>
</head>
<body>

    <!-- The sidebar -->
    <div class="sidebar">
        <a class="active" href="index.html">About</a>
        <div class="secth">
            <span>Projects</span>
        </div>
        <a href="elo.html">xG ELO<N/a>
        <a href="networks.html">xT Pass Networks</a>
        <a href="dashboard.html">Statsbomb Dashboard</a>
        <a href="clustering.html">Recruitment Clustering</a>
        <div id="contact" class="secth">
            <span>Contact</span>
        </div>
        <a class="contact" href="https://www.linkedin.com/in/joe-mcmullen-a77a6913b/">LinkedIn</a>
        <a class="contact" href="https://www.github.com/Joe-McMullen">Github</a>
    </div>

    <!-- Content-->
    <div id="about-container" class="header-container">
        <h1>About</h1>
    </div>
    <div class="text-container">
        <p>I am data scientist focussed on applications in football analytics. I have a Masters degree in Chemical Engineering from the Univerity
            of Bath and a Postgraduate degree in Sports Analytics from the Universitat Politècnica de Catalunya in collaboration with FC Barcelona.
            Please click below to explore some of the research and projects I have been working on.
        </p>
    </div>
    <div class="header-container">
        <h1>Projects</h1>
    </div>
    <div class="container">
        <div class="flex-item">
            <h2><a href="elo.html">xG-based Elo Rankings</a></h2>
            <img src="../img/epl_line.png" alt="line chart">
        </div>
        <div class="flex-item">
            <h2><a href="networks.html">xT-weighted Pass Networks</a></h2>
            <img src="../img/barca_xt.png" alt="pass network">
        </div>
        <div class="flex-item">
            <h2><a href="report.html">Statsbomb Match Dashboard</a></h2>
            <img src="../img/momentum.PNG" alt="football dashboard">
        </div>
        <div class="flex-item">
            <h2><a href="clustering.html">Clustering Player Similarity</a></h2>
            <img src="../img/clustering.png" alt="scatterplot">
        </div>
    </div>
</body>
</html>